.NavBar {
  background: #2d72d9;
  width: 100%;
  padding-top: 12px;
}

.NavBar-nav {
  display: flex;
  margin: 0;
  padding: 0 36px;
  width: 100%;
}

.NavBar-action {
  display: block;
  padding: 12px 24px;


  color: rgba(255,255,255, 0.7);
  text-transform: uppercase;
  text-decoration: none;
}

.NavBar-action:hover {
  color: #FFF;
}


.NavBar-action--active {
  color: #FFF;
  border-bottom: 3px solid #6ADC2A;
}
